<div class="title">
  <h4 class="text-center">My Profile</h4>
  <%= simple_form_for @user, validate: true do |f| %>
  <%= f.input :email %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>


  <%= f.submit class: "btn btn-primary" %>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-danger' do %>
  <i></i> Log Out Now!
  <% end %>
</div>

