  <div class="top">
    <div class="user-profile">
      <% if @user.photo.nil? %>
        <img src="https://kitt.lewagon.com/placeholder/users/papillard">
      <% else %>
        <%= cl_image_tag(@user.photo) %>
      <% end %>
      <div class="user-details">
        <h3>Hi <%= @user.first_name %>!</h3>
      </div>
    </div>
  </div>
  <div class="filter-btn">
    <a id="all" href="#"><i class="fas fa-user"></i></a>
    <a id="one" href="#"><i class="fas fa-heart"></i></a>
    <a id="two" href="#"><i class="fas fa-calendar"></i></a>
    <a id="three" href="#"><i class="fas fa-stamp"></i></a>
    <span class="toggle-btn ion-android-funnel fas fa-bars"></span>
  </div>
  <div class="bottom">

    <div id="favs" class="menus" style="display:none">
      <%= render partial: 'user_favs', locals: { places: @user.user_places, experiences: @user.user_experiences} %>
    </div>

    <div id="bookings" class="menus pb-3 mb-3" style="display:block;">
      <%= render partial: 'user_bookings', locals: { bookings: @user.bookings} %>
    </div>

    <div id="cards" class="menus" style="display:none">
      <%= render partial: 'user_cards', locals: { cards: @user.cards} %>
    </div>

    <div id="profile" class="menus" style="display:none">
      <%= render partial: 'user_profile', method: :patch, locals: { users: @user} %>
    </div>

  </div>


