<nav class="navbar botnav fixed-bottom navbar-dark text-justify">
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-home"></i>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-search"></i>
  <% end %>
  <% if user_signed_in? %>
  <%= link_to user_path(current_user), class: "nav-link" do %>
    <i class="fas fa-user"></i>
  <% end %>
  <% else %>
  <%= link_to new_user_session_path, class: "nav-link" do %>
    <i class="fas fa-user"></i>
  <% end %>
  <% end %>
  <%= link_to root_path, class: "nav-link" do %>
    <i class="fas fa-map"></i>
  <% end %>
</nav>
