<!-- <div class="container" id="searchcontainer"> -->
  <%= form_tag search_path, method: :get do %>
    <div class="d-flex justify-content-between mt-4">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "ðŸ” Search"
      %>
      <%= button_tag type: 'submit', class: "btn btn-success" do %>
        <i class="fas fa-play"></i>
      <% end %>
    </div>
  <% end %>

  <div class="results">
    <ul class="list-group list-group-flush">
      <% @places.each do |place| %>
        <li class="list-group-item">
          <div class="d-flex justify-content-between">
            <div>
            <%= link_to place.name, place_path(place.id) %><br>
            <i class="fas fa-map-marker-alt"></i>  <%= link_to place.city, place_path(place.id), class: "city" %>
            </div>
            <div>
            <%= cl_image_tag place.photo, class: "img-result" %>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
  </div>
<!-- </div> -->

