<%= cl_image_tag @experience.photo, class: "card-img-top" %>

<div class="container">

  <h4 class="experience text-center"><%= @experience.name %></h4>
  <p class="location text-muted"><i class="fas fa-map-marker-alt mr-1"></i><%= @experience.place.name %></p>

  <p class="text-center"><%= @experience.description %></p>

  <div class= "text-center pb-3">
    <%= link_to user_experiences_path(experience_id: @experience.id), method: :post, class: 'btn btn-sm btn-outline-success' do %>
      <i class="fas fa-heart"></i> Save
    <% end %>
    <%= link_to new_booking_path, {'data-toggle' =>  "modal", 'data-target' => "#bookingModalCenter-#{@experience.id}", class: 'btn btn-sm btn-outline-success'} do %>
      <i class="fas fa-plus"></i> Book Now
    <% end %>
  </div>

    <h6 class="pt-2 mt-3 mb-0">This place is known by</h6>
  <div class="d-flex justify-content-center">
    <ul class="list-group list-group-vertical">
      <% @compliments.each do |compliment| %>
        <% case compliment[0].name %>
        <% when 'Food' %>
          <li class="list-group-item">
            <i class="fas fa-utensils"></i>
            <%= compliment[0].name %>
            (<%= compliment[1] %>)
          </li>
        <% when 'Space' %>
          <li class="list-group-item">
            <i class="fas fa-couch"></i>
            <%= compliment[0].name %>
            (<%= compliment[1] %>)
          </li>
        <% when 'Coffee' %>
          <li class="list-group-item">
            <i class="fas fa-mug-hot"></i>
            <%= compliment[0].name %>
            (<%= compliment[1] %>)
          </li>
        <% when 'Staff' %>
          <li class="list-group-item">
            <i class="far fa-user"></i>
            <%= compliment[0].name %>
            (<%= compliment[1] %>)
          </li>
        <% when 'Customers' %>
          <li class="list-group-item">
            <i class="fas fa-user-friends"></i>
            <%= compliment[0].name %>
            (<%= compliment[1] %>)
          </li>
        <% else %>
          <%= compliment[0].name %>
          (<%= compliment[1] %>)
        <% end %>
      <% end %>
    </ul>
  </div>

  <!-- Reviews -->
  <h6 class="pt-2 mt-3 mb-0">Popular Reviews</h6>
  <small class="text-muted my-0"><%= @experience.reviews.count %> reviews</small>
  <div class="scrolling-wrapper-flexbox my-2">
      <% @experience.reviews.each do |review| %>

        <div class="card ml-0 mt-0" style="width: 16rem;">
          <div class="card-body px-3 py-2">
            <div class="d-flex justify-content-between">
              <h5>
                <% review.rating.times do %>
                  <i class="fas fa-coffee"></i>
                <% end %>
              </h5>
              <small><%= time_ago_in_words(review.created_at) %></small>
            </div>
            <!-- compliments begin -->
            <div class="d-flex justify-content-right">
               <ul class="list-group list-group-horizontal">
                <% case review.compliment.name %>
                <% when 'Food' %>
                  <li class="list-group-item">
                    <i class="fas fa-utensils"></i>
                    <%= review.compliment.name %>
                  </li>
                <% when 'Space' %>
                  <li class="list-group-item">
                    <i class="fas fa-couch"></i>
                    <%= review.compliment.name %>
                  </li>
                <% when 'Coffee' %>
                  <li class="list-group-item">
                    <i class="fas fa-mug-hot"></i>
                    <%= review.compliment.name %>
                  </li>
                <% when 'Staff' %>
                  <li class="list-group-item">
                    <i class="far fa-user"></i>
                    <%= review.compliment.name %>
                  </li>
                <% when 'Customers' %>
                  <li class="list-group-item">
                    <i class="fas fa-user-friends"></i>
                    <%= review.compliment.name %>
                  </li>
                <% else %>

                <% end %>
              </ul>
            </div>
            <!-- compliments end -->
            <div id="card-collapse" class="collapse-content">
              <p class="card-text collapse" id="collapseContent"><%= review.content %></p>
              <a class="p-1 my-1 mr-0 collapsed" data-toggle="collapse" href="#collapseContent" aria-expanded="false" aria-controls="collapseContent"></a>
            </div>
          </div>
        </div>

      <% end %>
  </div>

</div>


<!-- Booking modal -->

<div class="modal fade" id="bookingModalCenter-<%= @experience.id %>" tabindex="-1" role="dialog" aria-labelledby="bookingModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLongTitle"><%= @experience.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <%= simple_form_for @booking, validate: true do |f| %>
        <%= f.input :date, as: :string, input_html: { class: 'flatpickr-input'} %>
        <%= f.input :experience_id, as: :hidden, :input_html => { value: @experience.id } %>
        <div class="d-flex justify-content-between">
          <%= f.submit class: 'btn btn-primary' %>
          <%= f.button :button, 'Cancel', :type => 'reset', class: "btn btn-outline-secondary", data: { dismiss: "modal", target: "bookingModalCenter-#{@experience.id}" } %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- End of Booking modal -->


